body{
    background: #ccc;
}
body #main_content{
    background: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 30px;
    line-height: 1.4em;
    font-family: 'arial';
}
img{
    max-width: 100%;
}